/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
/* Listas */
/* Variables */
#sobre-nosotros .nosotros .articulo, #Servicios-index .servicios-articulos .articulo {
  background-color: #e5e5e5;
  padding: 5rem;
  margin: 5rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Servicios-index .servicios-articulos {
  display: grid;
  margin: 20rem 20rem 5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 30rem);
  grid-template-areas: "modelado modelado renderizado renderizado" "modelado modelado renderizado renderizado" "produccion produccion realidad realidad" "produccion produccion realidad realidad";
}

#Servicios-index .titular {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

#Contacto #mensaje .formulario .submit, #Contacto #mensaje .formulario, #Contacto #info-contacto-general .info-contacto .info, #portfolio #portfolio-galeria-imagenes .portfolio-galeria .imagenes .grid-image img, #sobre-nosotros .premios .contenedor .distinciones, #sobre-nosotros #founder .articulo, #sobre-nosotros .nosotros .articulo, .main-servicios #Servicios .contenedor .contenido .articulo .image, .main-servicios #Servicios .contenedor .contenido .articulo .video, .main-servicios #Servicios .contenedor .contenido .articulo, #Servicios-index .servicios-articulos .articulo, .main .premios .contenedor .distinciones {
  border: 0.2rem solid #212529;
  border-radius: 5rem;
}

#body, #Contacto #mensaje, #sobre-nosotros .premios, #Servicios-index .servicios-articulos .articulo:nth-child(4), #Servicios-index .servicios-articulos .articulo:nth-child(3), #Servicios-index .servicios-articulos .articulo:nth-child(2), #Servicios-index .servicios-articulos .articulo:nth-child(1), .body .section-uno {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Footer .nuestras-redes,
#Footer .firma, #Contacto #mensaje, #portfolio #portfolio-galeria-videos .videos, #portfolio #portfolio-galeria-imagenes .portfolio-galeria, #sobre-nosotros #founder .articulo, .body .section-uno {
  display: flex;
  justify-content: center;
}

#Footer, .main .section-carousel {
  display: flex;
  align-items: center;
}

#sobre-nosotros .premios .contenedor, .main .premios .contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#sobre-nosotros .premios .contenedor .distinciones, .main .premios .contenedor .distinciones {
  background-color: #e5e5e5;
  margin: 2rem;
  width: 40rem;
  transition: 0.2s;
}

#sobre-nosotros .premios .contenedor .distinciones .texto .h2, .main .premios .contenedor .distinciones .texto .h2 {
  font-size: 3.5rem;
  font-family: "Oswald";
  margin-bottom: 2rem;
}

#sobre-nosotros .premios .contenedor .distinciones .texto .p, .main .premios .contenedor .distinciones .texto .p {
  font-size: 2.5rem;
  margin: 2rem;
  text-align: left;
  color: #343a40;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.body {
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  line-height: 5rem;
}
.body a {
  font-size: 2rem;
  text-decoration: none;
}
.body h1,
.body h2,
.body h3 {
  font-family: "Lato";
}
.body h2 {
  font-size: 4rem;
}
.body h3 {
  font-size: 3.5rem;
}
.body h4 {
  font-size: 1.8rem;
}
.body p {
  font-family: "Source Sans Pro";
  font-size: 2.5rem;
  color: #e5e5e5;
}
.body .section-uno {
  flex-direction: column;
  background-attachment: fixed;
  height: 100rem;
}
.body .section-uno .container .h1 {
  display: inline-block;
  font-size: 10rem;
  color: #212529;
  font-weight: bolder;
  font-family: "Oswald";
}
.body .section-uno .container .h1:first-child {
  text-shadow: 0 0 2rem black;
  color: #919eaa;
}
.body .section-uno .container .h1:last-child {
  text-shadow: 0 0 2rem #e5e5e5;
}

/* Header */
#Inicio {
  background-color: black;
  /* Video dynamis de portada */
}
#Inicio video {
  opacity: 60%;
  margin: 0;
  height: 100%;
  width: 100%;
}
#Inicio .navbar {
  box-shadow: 0 0 10rem 2rem;
}
#Inicio .navbar .container-fluid .navbar-brand .logo {
  width: 20rem;
}
#Inicio .navbar .container-fluid .navbar-brand:hover {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#Inicio .navbar .container-fluid .navbar-nav .nav-item {
  padding: 0;
  padding-right: 10rem;
}
#Inicio .navbar .container-fluid .navbar-nav .nav-item .dropdown-menu {
  margin: 0 5rem;
  -webkit-animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Fin Header */
.main .section-uno {
  background-image: url("https://i.ibb.co/GdmL3jz/Preview-4-Reis-20180518.png");
}
.main .section-carousel .carousel {
  background-color: #e5e5e5;
  margin-bottom: 5rem;
}
.main .section-carousel .carousel img {
  height: 100vh;
}
.main .premios {
  margin-bottom: 0;
}
.main .premios .titulo {
  margin: 10rem;
}
.main .premios .titulo .h2 {
  font-family: "Oswald";
  font-size: 8rem;
  text-shadow: 0 0 2rem #212529;
}
.main .premios .contenedor {
  margin-bottom: 10rem;
}
.main .premios .contenedor .distinciones {
  box-shadow: 0 0 2rem #212529;
}
.main .premios .contenedor .distinciones:hover {
  -webkit-transform: translateY(-3px) scale(1.1);
  -o-transform: translateY(-3px) scale(1.1);
  -moz-transform: translateY(-3px) scale(1.1);
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 0 2rem #0077b6;
}
.main .premios .contenedor .distinciones .image {
  width: 25rem;
}
#Servicios-index {
  background-color: #212529;
}
#Servicios-index .titular .titulo {
  font-family: "Oswald";
  font-size: 10rem;
  color: #919eaa;
}
#Servicios-index .titular p {
  margin-bottom: 5rem;
}
#Servicios-index .servicios-articulos {
  margin-bottom: 0;
  margin-top: 0;
}
#Servicios-index .servicios-articulos .articulo {
  box-shadow: 0 0 2rem #e5e5e5;
}
#Servicios-index .servicios-articulos .articulo .h2 {
  text-shadow: 0 0 2rem black;
  font-family: "Oswald";
  font-size: 8rem;
  color: #e5e5e5;
  padding: 0.5rem;
}
#Servicios-index .servicios-articulos .articulo:nth-child(1) {
  grid-area: modelado;
  background-image: url("https://i.ibb.co/9gJJ1vC/b.png");
}
#Servicios-index .servicios-articulos .articulo:nth-child(2) {
  grid-area: renderizado;
  background-image: url("https://i.ibb.co/6mcZWpT/Final-Casa-Caro-Fer-2.jpg");
}
#Servicios-index .servicios-articulos .articulo:nth-child(3) {
  grid-area: produccion;
  background-image: url("https://i.ibb.co/WP9cCDT/youtube-3216705-1920.jpg");
}
#Servicios-index .servicios-articulos .articulo:nth-child(4) {
  grid-area: realidad;
  background-image: url("https://i.ibb.co/8KcpHcD/virtual-reality-4490469-1920.jpg");
}
#Servicios-index .servicios-articulos .articulo:nth-child(4) h2 {
  text-shadow: 0 0 2rem #e5e5e5;
}

.main-servicios .section-uno {
  background-image: url("https://i.ibb.co/t2jkV5C/Final-Casa-F-1-150519.png");
}
.main-servicios #Servicios .contenedor .contenido {
  margin: 10rem;
}
.main-servicios #Servicios .contenedor .contenido .articulo {
  align-items: center;
  background-color: #212529;
  margin-bottom: 20rem;
  box-shadow: 0 0 2rem #212529;
}
.main-servicios #Servicios .contenedor .contenido .articulo .h2 {
  margin: 5rem;
}
.main-servicios #Servicios .contenedor .contenido .articulo .p {
  margin: 2rem;
}
.main-servicios #Servicios .contenedor .contenido .articulo .h2, .main-servicios #Servicios .contenedor .contenido .articulo .p {
  color: #e5e5e5;
  padding: 0.5rem;
}

#sobre-nosotros {
  margin: 0;
  /* founder */
}
#sobre-nosotros .section-uno {
  background-image: url("https://i.ibb.co/JzszCQh/R3-0.png");
}
#sobre-nosotros .nosotros {
  padding: 10rem 0;
  background-color: #212529;
}
#sobre-nosotros .nosotros .h2 {
  margin: 5rem;
}
#sobre-nosotros .nosotros .p {
  text-align: left;
}
#sobre-nosotros .nosotros .h2, #sobre-nosotros .nosotros .p {
  color: #212529;
  padding: 0.5rem;
}
#sobre-nosotros .nosotros .articulo {
  box-shadow: 0 0 2rem #e5e5e5;
}
#sobre-nosotros .gradient {
  background: linear-gradient(180deg, #212529, #343a40, #919eaa, #e5e5e5);
  height: 20rem;
}
#sobre-nosotros #founder {
  background-color: #e5e5e5;
  background-size: contain;
  padding: 5rem;
}
#sobre-nosotros #founder .articulo {
  background-color: #212529;
  padding: 5rem;
  margin: 5rem;
  flex-direction: column;
  box-shadow: 0 0 2rem #212529;
}
#sobre-nosotros #founder .articulo h2 {
  color: #e5e5e5;
  margin: 5rem, 5rem, 2.5rem;
}
#sobre-nosotros #founder .articulo h3 {
  margin-bottom: 5rem;
  color: #e5e5e5;
}
#sobre-nosotros #founder .articulo p {
  color: #e5e5e5;
  text-align: left;
}
#sobre-nosotros .premios {
  background-image: url("https://i.ibb.co/drGBnxQ/2-sin-marcas.png");
  background-attachment: fixed;
  padding: 10rem 0;
  margin-top: 0;
  margin-bottom: 5rem;
}
#sobre-nosotros .premios .titulo {
  margin: 10rem;
}
#sobre-nosotros .premios .titulo .h2 {
  font-family: "Oswald";
  font-size: 8rem;
  color: #e5e5e5;
  text-shadow: 0 0 2rem #212529;
}
#sobre-nosotros .premios .contenedor {
  margin-bottom: 10rem;
}
#sobre-nosotros .premios .contenedor .distinciones {
  box-shadow: 0 0 2rem #212529;
}
#sobre-nosotros .premios .contenedor .distinciones:hover {
  box-shadow: 0 0 2rem #e5e5e5;
  -webkit-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  transform: translateY(-3px);
}
#sobre-nosotros .premios .contenedor .distinciones .image {
  width: 25rem;
}
/* Portfolio */
#portfolio .section-uno {
  background-image: url("https://i.ibb.co/DV732SZ/5.png");
}
#portfolio .titular-dos {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 11rem;
  background-color: #e5e5e5;
}
#portfolio .titular-dos h2 {
  color: #343a40;
  font-family: "Oswald";
  margin: 0 10rem 2rem 0;
}
#portfolio #portfolio-galeria-imagenes .portfolio-galeria {
  flex-direction: column;
  margin-bottom: 10rem;
}
#portfolio #portfolio-galeria-imagenes .portfolio-galeria .imagenes {
  /* GRID CON SCALE*/
  margin: 10rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 30rem;
  gap: 3rem 3rem;
}
#portfolio #portfolio-galeria-imagenes .portfolio-galeria .imagenes div {
  transition: all 0.5s ease;
}
#portfolio #portfolio-galeria-imagenes .portfolio-galeria .imagenes div:hover {
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
#portfolio #portfolio-galeria-imagenes .portfolio-galeria .imagenes .grid-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#portfolio #portfolio-galeria-imagenes .portfolio-galeria .imagenes .grid-image:nth-child(3) {
  grid-row: span 3;
}
#portfolio #portfolio-galeria-imagenes .portfolio-galeria .imagenes .grid-image:nth-child(7) {
  grid-row: span 2;
}
#portfolio #portfolio-galeria-videos .videos iframe {
  margin: 2rem;
}

#Contacto .section-uno {
  background-image: url("https://i.ibb.co/j67nXck/R3.png");
}
#Contacto .titular-dos {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 11rem;
  background-color: #e5e5e5;
}
#Contacto .titular-dos h2 {
  color: #343a40;
  font-family: "Oswald";
  margin: 0 10rem 2rem 0;
}
#Contacto #info-contacto-general .info-contacto {
  margin: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5rem;
  grid-template-areas: "ubicacion ubicacion horario horario" "ubicacion ubicacion horario horario" "telefono telefono mail mail" "telefono telefono mail mail";
}
#Contacto #info-contacto-general .info-contacto .info {
  box-shadow: 0 0 2rem #212529;
  background-color: #e5e5e5;
  padding: 5rem;
}
#Contacto #info-contacto-general .info-contacto .info h3, #Contacto #info-contacto-general .info-contacto .info p {
  color: #212529;
}
#Contacto #info-contacto-general .info-contacto .info:nth-child(1) {
  grid-area: ubicacion;
}
#Contacto #info-contacto-general .info-contacto .info:nth-child(2) {
  grid-area: horario;
}
#Contacto #info-contacto-general .info-contacto .info:nth-child(3) {
  grid-area: telefono;
}
#Contacto #info-contacto-general .info-contacto .info:nth-child(4) {
  grid-area: mail;
}
#Contacto #info-contacto-general .info-contacto .info .icono img {
  width: 10rem;
}
#Contacto #mapa {
  margin: 10rem 0;
}
#Contacto #mensaje {
  background-image: url("https://i.ibb.co/NCfZvm7/7a.png");
  background-attachment: fixed;
  margin-bottom: 10rem;
}
#Contacto #mensaje .formulario {
  width: 70rem;
  margin: 5rem;
  background-color: #212529;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 2rem #e5e5e5;
}
#Contacto #mensaje .formulario .h2 {
  color: #e5e5e5;
}
#Contacto #mensaje .formulario .casilla {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-family: "roboto";
  font-size: 20px;
  border: none;
}
#Contacto #mensaje .formulario .submit {
  font-family: "Source Sans Pro";
  font-size: 3.5rem;
}

#Footer {
  justify-content: space-around;
  height: 20rem;
  background-color: #919eaa;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  box-shadow: 0 0 2rem #212529;
}
#Footer h3, #Footer h4 {
  color: #212529;
}
#Footer h3 {
  font-family: "Source Sans Pro";
  font-size: 2.5rem;
}
#Footer .nuestras-redes,
#Footer .firma {
  align-items: center;
}
#Footer .back-home {
  margin-bottom: 5rem;
  align-self: flex-end;
}
#Footer .nuestras-redes .icons-list:hover .red {
  filter: blur(0.2rem);
}
#Footer .nuestras-redes .icons-list .icons {
  display: inline-block;
  margin: 0 0.5rem;
  width: 5rem;
  height: 5rem;
}
#Footer .nuestras-redes .icons-list .icons .red {
  display: block;
  padding: 0 1rem;
  background-color: #343a40;
  color: #e5e5e5;
  box-shadow: 0 0 2rem #212529;
  transition: 0.2s;
}
#Footer .nuestras-redes .icons-list .icons .red:hover {
  -webkit-transform: translateY(-3px) scale(1.1);
  -o-transform: translateY(-3px) scale(1.1);
  -moz-transform: translateY(-3px) scale(1.1);
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 0.5rem 0.5rem 0 #212529;
  filter: none;
}
#Footer .nuestras-redes .icons-list .icons .facebook:hover {
  background: #3b5999;
}
#Footer .nuestras-redes .icons-list .icons .instagram:hover {
  background: #e4405f;
}
#Footer .nuestras-redes .icons-list .icons .linkedin:hover {
  background: #007785;
}

@media only screen and (max-width: 676px) {
  /*MOBILE*/
  .body h2 {
    font-size: 2.5rem;
  }
  .body h3 {
    font-size: 1.8rem;
  }
  .body h4 {
    font-size: 1.3rem;
  }
  .body p {
    font-size: 1.7rem;
  }
  .body .section-uno {
    padding: 0;
    height: 30rem;
  }
  .body .section-uno .container .h1 {
    font-size: 3rem;
  }
  .body .section-uno .container .h1:nth-child(1) {
    color: #e5e5e5;
  }
  .body #Inicio .navbar {
    position: relative;
  }
  .body #Inicio .navbar .container-fluid .navbar-nav {
    align-items: flex-start;
  }
  .body #Inicio .navbar .container-fluid .navbar-nav .nav-item {
    padding: 0;
  }
  .body .main {
    background-color: #212529;
  }
  .body .main .section-uno .container .h1:nth-child(2) {
    display: none;
  }
  .body .main #Servicios-index {
    margin: 0;
    padding: 0;
  }
  .body .main #Servicios-index .titular {
    align-items: center;
    justify-content: center;
    height: 20rem;
  }
  .body .main #Servicios-index .titular .titulo {
    margin: 2rem;
    color: #e5e5e5;
    font-size: 3rem;
    text-shadow: none;
  }
  .body .main #Servicios-index .servicios-articulos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem;
  }
  .body .main #Servicios-index .servicios-articulos .articulo {
    width: 100%;
    height: 25rem;
    margin: 3rem;
    box-shadow: none;
    border-radius: 1rem;
  }
  .body .main #Servicios-index .servicios-articulos .articulo .h2 {
    font-size: 3rem;
    font-weight: bold;
  }
  .body .main .section-carousel {
    margin-top: 5rem;
  }
  .body .main .section-carousel .carousel img {
    height: auto;
  }
  .body .main .premios {
    background-color: #212529;
  }
  .body .main .premios .titulo {
    margin: 5rem 0;
  }
  .body .main .premios .titulo .h2 {
    color: #e5e5e5;
    font-size: 3rem;
  }
  .body .main .premios .contenedor {
    margin-bottom: 0;
    padding-bottom: 10rem;
  }
  .body .main .premios .contenedor .distinciones .image {
    width: 15rem;
  }
  .body .main .premios .contenedor .distinciones:hover {
    transform: none;
    box-shadow: none;
  }
  .body #Servicios {
    margin: 0;
    padding: 0;
  }
  .body #Servicios .contenedor .contenido {
    margin: 3rem 0px;
  }
  .body #Servicios .contenedor .contenido .articulo {
    border-radius: 0;
    padding: 0;
    margin: 0.5rem;
    margin-bottom: 5rem;
    text-align: left;
  }
  .body #Servicios .contenedor .contenido .articulo .h2 {
    text-align: center;
    margin: 3rem;
  }
  .body #Servicios .contenedor .contenido .articulo .video {
    height: 30rem;
    margin-top: 2rem;
  }
  .body #Servicios .contenedor .contenido .articulo .image-uno {
    margin-top: 2rem;
  }
  .body #Servicios .contenedor .contenido .articulo .image-dos {
    margin-bottom: 2rem;
  }
  .body #Servicios .contenedor .contenido .articulo .image-mobile {
    margin-left: 3rem;
  }
  .body #portfolio #portfolio-galeria-imagenes .portfolio-galeria .imagenes {
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0;
  }
  .body #portfolio #portfolio-galeria-imagenes .portfolio-galeria .imagenes .grid-image {
    transform: none;
  }
  .body #portfolio #portfolio-galeria-imagenes .portfolio-galeria .imagenes .grid-image .image {
    border: none;
    border-radius: 0px;
  }
  .body #portfolio #portfolio-galeria-videos .videos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .body #portfolio #portfolio-galeria-videos .videos iframe {
    margin: 1rem;
    width: 100%;
    height: 30rem;
  }
  .body #sobre-nosotros .articulo {
    background-color: #212529;
    border: none;
    border-radius: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .body #sobre-nosotros .articulo .h2 {
    color: #e5e5e5;
    text-align: center;
    margin: 5rem 0px;
  }
  .body #sobre-nosotros .articulo .p {
    color: #e5e5e5;
  }
  .body #sobre-nosotros #founder {
    padding: 1rem;
    padding-bottom: 5rem;
  }
  .body #sobre-nosotros #founder .articulo {
    background-color: #e5e5e5;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 1rem;
    margin: 0px;
  }
  .body #sobre-nosotros #founder .articulo .h2, .body #sobre-nosotros #founder .articulo .h3 {
    color: #212529;
    text-align: center;
  }
  .body #sobre-nosotros #founder .articulo .h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .body #sobre-nosotros #founder .articulo .p {
    color: #212529;
  }
  .body #sobre-nosotros .premios {
    background-color: #212529;
    margin-bottom: 0;
  }
  .body #sobre-nosotros .premios .titulo {
    margin: 5rem 0;
  }
  .body #sobre-nosotros .premios .titulo .h2 {
    color: #e5e5e5;
    font-size: 3rem;
  }
  .body #sobre-nosotros .premios .contenedor {
    margin-bottom: 0;
    padding-bottom: 10rem;
  }
  .body #sobre-nosotros .premios .contenedor .distinciones:hover {
    transform: none;
    box-shadow: none;
  }
  .body #Contacto #info-contacto-general .info-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
  }
  .body #Contacto #info-contacto-general .info-contacto .info {
    margin: 3rem 0;
    height: 30rem;
  }
  .body #Contacto #mensaje .formulario {
    margin: 1rem;
    margin-bottom: 3rem;
  }
  .body #Contacto #mensaje .formulario .h2 {
    margin: 3rem;
  }
  .body #Footer {
    /* FOOTER */
    flex-direction: column;
    align-items: center;
    height: 40rem;
    border-radius: 0px;
    box-shadow: 0 0 2rem #e5e5e5;
  }
  .body #Footer .back-home {
    margin-left: 0;
  }
}
@media only screen and (min-width: 677px) and (max-width: 1580px) {
  /*TABLET*/
  .body h2 {
    font-size: 3rem;
  }
  .body h3 {
    font-size: 1.75rem;
  }
  .body h4 {
    font-size: 0.9rem;
  }
  .body .section-uno .container .h1 {
    font-size: 8rem;
  }
  .body .section-uno .container .h1:nth-child(1) {
    color: #e5e5e5;
  }
}
@media only screen and (min-width: 677px) and (max-width: 1580px) and (min-width: 677px) and (max-width: 1023px) {
  .body #Inicio .navbar .container-fluid .navbar-nav {
    align-items: flex-start;
  }
  .body #Inicio .navbar .container-fluid .navbar-nav .nav-item {
    padding: 0;
    padding-right: 5rem;
  }
}
@media only screen and (min-width: 677px) and (max-width: 1580px) {
  .body .main #Servicios-index {
    margin: 0;
    padding: 0;
  }
  .body .main #Servicios-index .titular .titulo {
    font-size: 6.8rem;
  }
  .body .main #Servicios-index .servicios-articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .body .main #Servicios-index .servicios-articulos .articulo {
    width: 85vw;
    height: 50rem;
    margin: 10rem 5rem;
  }
  .body .main #Servicios-index .servicios-articulos .articulo .h2 {
    font-weight: bold;
  }
  .body .main .section-carousel .carousel img {
    height: 80vh;
  }
  .body .main .premios .contenedor .distinciones {
    margin: 5rem;
  }
}
@media only screen and (min-width: 677px) and (max-width: 1580px) {
  .body #portfolio #portfolio-galeria-imagenes .portfolio-galeria .imagenes {
    margin: 10rem 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 30rem;
  }
  .body #portfolio #portfolio-galeria-videos .videos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .body #portfolio #portfolio-galeria-videos .videos iframe {
    width: 100%;
  }
}
@media only screen and (min-width: 677px) and (max-width: 1580px) {
  .body #sobre-nosotros .premios .contenedor .distinciones {
    margin: 5rem;
  }
}
@media only screen and (min-width: 677px) and (max-width: 1580px) {
  .body #Contacto #info-contacto-general .info-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .body #Contacto #info-contacto-general .info {
    transform: none;
  }
}
@media only screen and (min-width: 677px) and (max-width: 1580px) {
  .body #Footer {
    height: 30rem;
  }
}
@media only screen and (min-width: 677px) and (max-width: 1580px) and (min-width: 677px) and (max-width: 1023px) {
  .body #Footer {
    flex-direction: column;
  }
  .body #Footer .back-home {
    align-self: center;
  }
}
@media only screen and (min-width: 677px) and (max-width: 1580px) and (min-width: 1024px) and (max-width: 1580px) {
  .body #Footer .back-home {
    align-self: flex-end;
  }
}
@media only screen and (min-width: 677px) and (max-width: 1580px) {
  .body #Footer .firma h4 {
    font-size: 1.8rem;
  }
}
#body {
  background-image: url("https://i.ibb.co/NCfZvm7/7a.png");
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body .error {
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 2rem #e5e5e5;
  width: 80vw;
  text-align: center;
}
@media only screen and (max-width: 676px) {
  #body .error {
    margin: auto;
  }
}
#body .error .image {
  padding: 0;
  margin: 0;
}
#body .error .image img {
  width: 50rem;
  height: 20rem;
  object-fit: cover;
}
@media only screen and (max-width: 676px) {
  #body .error .image img {
    width: 25rem;
  }
}
#body .error .h1, #body .error .p {
  color: #e5e5e5;
  font-family: "Oswald";
  padding: 2rem;
  text-shadow: 0 0 2rem black;
}
#body .error .h1 {
  font-size: 10rem;
}
#body .error .p {
  font-size: 5rem;
}
#body .error .home {
  display: inline-block;
  margin: 5rem;
}
#body .error .home .a {
  padding: 2rem;
  background-color: #e5e5e5;
  border-radius: 5rem;
  font-size: 2rem;
  color: #212529;
  text-decoration: none;
  font-family: "Oswald";
}
@media only screen and (max-width: 676px) {
  #body .error .home .a {
    font-size: 1rem;
  }
}
#body .error .home .a:hover {
  background-color: #0077b6;
  box-shadow: 0 0 2rem #e5e5e5;
}

/* ----------------------------------------------
* Generated by Animista on 2021-8-10 10:57:20
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2021-8-10 11:23:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
* Generated by Animista on 2021-8-10 11:41:20
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
/* ----------------------------------------------
* Generated by Animista on 2021-8-11 22:51:26
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
/* ----------------------------------------------
* Generated by Animista on 2021-9-7 23:2:4
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=Style.css.map */
