.body{
    background-color: nth($colores, 1);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 5rem;



    a{
        font-size: $a;
        text-decoration: none;
    }
    h1,
    h2, 
    h3 {
    font-family:  nth($fonts, 1 );
    }
    h2{
        font-size: $h2;
    }    
    h3 {
        font-size: $h3;
    }    
    h4 {
        font-size: $h4;
    }    
    p{
        font-family:  nth($fonts, 2 );
        font-size: $p;
        color: nth($colores, 1);
    }
    .section-uno{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @extend %background-fixed;
        height: 100rem;
        .container{
            .h1{
                display: inline-block;
                font-size: $h1;
                color: nth($colores, 4 );
                font-weight: bolder;
                font-family: nth($fonts, 3 );
                &:first-child{
                    @include text-shadow(nth($colores,6));
                    color: nth($colores, 2 );
                }
                &:last-child{
                    @include text-shadow(nth($colores, 1));
                }
            }  
        }
    }
}


