#Contacto {
    .section-uno{
        background-image: url("https://i.ibb.co/j67nXck/R3.png");
    }
    .titular-dos {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 11rem;
        background-color: nth($colores, 1 );
        h2{
            color: nth($colores, 5 ) ;
            font-family: nth($fonts, 3 );
            margin: 0 10rem 2rem 0;
        }
    }
    #info-contacto-general{
        .info-contacto{
            margin: $margin;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 5rem;
            grid-template-areas:"ubicacion ubicacion horario horario"
                                "ubicacion ubicacion horario horario"
                                "telefono telefono mail mail"
                                "telefono telefono mail mail";
            .info{
                @extend %border-r;
                @include shadow (nth($colores, 4));
                background-color: nth($colores, 1 );
                padding: $margin-dos;
                h3, p {
                    color: nth($colores, 4 );
                }
                &:nth-child(1) {
                    grid-area: ubicacion;
                }
                &:nth-child(2) {
                    grid-area: horario;
                }
                
                &:nth-child(3) {
                    grid-area: telefono;
                }
                
                &:nth-child(4) {
                    grid-area: mail;
                }
                .icono{
                    img{
                        width: 10rem;
                    }
                }
            }
        }
    }
    #mapa {
        margin: $margin 0;
    }
    #mensaje{
        display: flex;
        justify-content: center;
        background-image: url("https://i.ibb.co/NCfZvm7/7a.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: $margin;
        .formulario{
            width: 70rem;
            margin: $margin-dos;
            background-color: nth($colores, 4 );
            padding: 10px 20px;
            box-sizing: border-box;
            @extend %border-r;
            @include shadow(nth($colores, 1 ));
            .h2{
                color: nth($colores, 1 );
            }
            .casilla{
                width: 100%;
                margin-bottom: 20px;
                padding: 7px;
                box-sizing: border-box;
                font-family: "roboto";
                font-size: 20px;
                border: none;
            }
            .submit{
                border-radius: 5rem;
                font-family: nth($fonts, 2 );
                font-size: $h3;
            }
        }
    }
}
