#Contacto {
    .section-uno{
        background-image: url("https://i.ibb.co/j67nXck/R3.png");
    }
    .titular-dos {

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 11rem;
        background-color: nth($colores, 1 );

        h2{
            color: nth($colores, 5 ) ;
            font-family: 'Oswald', sans-serif;
            margin: 0 10rem 2rem 0;
        }
    }

    #info-contacto-general{

        .info-contacto{
            margin: $margin;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 5rem;
            grid-template-areas: "ubicacion ubicacion horario horario"
                                 "ubicacion ubicacion horario horario"
                                 "telefono telefono mail mail"
                                 "telefono telefono mail mail";

            .info{
                border: 0.2rem solid var(--main-color);
                border-radius: 5rem;
                box-shadow: 0 0 5rem;
                background-color: nth($colores, 1 );
                padding: $margin-dos;
                transition: all 1s ease;

                h3, p {
                    color: nth($colores, 4 );
                }

                &:nth-child(1) {
                    grid-area: ubicacion;
                    &:hover{
                        @include prefijos(scale (1.2));
                    }
                }

                &:nth-child(2) {
                    grid-area: horario;
                    &:hover{
                        @include prefijos(scale (1.2));
                    }
                }
                
                &:nth-child(3) {
                    grid-area: telefono;
                    &:hover{
                        @include prefijos(scale (1.2));
                    }
                }
                
                &:nth-child(4) {
                    grid-area: mail;
                    &:hover{
                        @include prefijos(scale (1.2));
                    }
                }

                .icono{
                    img{
                        width: 10rem;
                    }

                }

            }

        }




    }

    #mapa {
        margin: $margin 0;
    }

    #mensaje{
        display: flex;
        align-items: center;
        flex-direction: column;
            .formulario{
                width: 45rem;
                margin: $margin-dos;
                padding: 10px 20px;
                box-sizing: border-box;
                @extend %border-r;
                background-color: nth($colores, 4 );
                h2{
                    color: nth($colores, 1 );
                }
                .casilla{
                    width: 100%;
                    margin-bottom: 20px;
                    padding: 7px;
                    box-sizing: border-box;
                    font-family: "roboto";
                    color: black;
                    font-size: 20px;
                    border: none;
                }
            }
        }
}




