#Contacto {
    .section-uno{
        background-image: url("https://i.ibb.co/j67nXck/R3.png");
    }
    .titular-dos {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 11rem;
        background-color: nth($colores, 1 );
        h2{
            color: nth($colores, 5 ) ;
            font-family: nth($fonts, 3 );
            margin: 0 10rem 2rem 0;
        }
    }
    #info-contacto-general{
        .info-contacto{
            margin: $margin;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 5rem;
            grid-template-areas:"ubicacion ubicacion horario horario"
                                "ubicacion ubicacion horario horario"
                                "telefono telefono mail mail"
                                "telefono telefono mail mail";
            .info{
                @extend %border-r;
                @include shadow (nth($colores, 4));
                background-color: nth($colores, 1 );
                padding: $margin-dos;
                h3, p {
                    color: nth($colores, 4 );
                }
                &:nth-child(1) {
                    grid-area: ubicacion;
                }
                &:nth-child(2) {
                    grid-area: horario;
                }
                
                &:nth-child(3) {
                    grid-area: telefono;
                }
                
                &:nth-child(4) {
                    grid-area: mail;
                }
                .icono{
                    img{
                        width: 10rem;
                    }
                }
            }
        }
    }
    #mapa {
        margin: $margin 0;
    }
    #mensaje{
        .articulo {
            background-color: nth($colores, 1 );
            margin: $margin-dos;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            @extend %border-r;
            @include shadow(nth($colores, 4));
            h2 {
                margin: $margin-dos;
            }            
            h2, p {
                color: nth($colores, 4 );
                background-color: nth($colores, 1 );
                font-weight: bold;
                padding: 0.5rem;
                @extend %border-r;
            }
            .send-mensaje {
                display: grid;
                grid-template-columns: repeat(6,1fr);
                grid-template-rows: repeat(3,10rem);
                margin: $margin;
                .grid-form{
                    input{
                        width: 80%;
                        height: 3rem;
                    }
                    &:nth-child(1){
                        grid-column: 3/4;
                    }
                    
                    &:nth-child(2) {
                        grid-column: 4/5;
                    }
                    
                    &:nth-child(3) {
                        grid-column: 3/4;
                        grid-row: 2/3 ;
                    }
                    
                    &:nth-child(4) {
                        grid-column: 4/5;
                        grid-row: 2/3 ;
                    }
                    
                    &:nth-child(5) {
                        grid-column: 2 / 6;
                        grid-row: 3/4;
                        input{
                            width: 50%;
                        }
                    }
                    &:nth-child(6){
                        grid-column: 3/5;
                        grid-row: 4/5;
                        
                        textarea {
                            width: 100%;
                            height: 20rem;
                        }
                        input {
                            width: 10rem;
                            height: 5rem;
                        }
                    }
                    &:nth-child(7){
                        grid-column: 3/5;
                        grid-row: 5/6;
                        input{
                            width: 40%;
                            height: 5rem;
                        }
                    }
                }
            }
        }
    }
}