/* Footer */
#Footer {
    display: flex;
    justify-content: space-around;
    height: 20rem;
    background-color: nth($colores, 2 );
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    h3, h4, a{
        color: nth($colores, 4 );
    }
    a {
        &:hover {
            color: nth($colores, 3 );
        }
    }
    h3 {
        font-size: $p;
    } 
    .nuestras-redes, 
    .firma  {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .back-home {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 10rem;
        margin-bottom: $margin-dos;
    }    
    .nuestras-redes{
        img {
            width: 4.5rem;
            }
    } 
}

/* Fin footer */