
#Footer {
    @extend %d-flex-dos;
    justify-content: space-around;
    height: 20rem;
    background-color: nth($colores, 2 );
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    @include shadow(nth($colores, 4));
    h3, h4{
        color: nth($colores, 4 );
    }
    h3 {
        font-family: nth($fonts, 2 );
        font-size: $p;
    } 
    .nuestras-redes, 
    .firma  {
        @extend %d-flex;
        align-items: center;
    }
    .back-home {
        margin-bottom: $margin-dos;
        align-self: flex-end;
    }    
    .nuestras-redes{
        .icons-list{
            &:hover{
                .red{
                    filter: blur(0.2rem);
                }
            }
            .icons{
                display: inline-block;
                margin: 0 0.5rem;
                width: 5rem;
                height: 5rem;
                .red{
                    display: block;
                    padding: 0 1rem;
                    background-color: nth($colores, 5 );
                    color: nth($colores, 1 );
                    @include shadow(nth($colores, 4));
                    transition: 0.2s;
                    &:hover{
                        @include prefijos(translateY(-3px) scale(1.1)) ;
                        box-shadow: 0 0.5rem 0.5rem 0 nth($colores, 4 );
                        filter: none;
                    }
                }
                .facebook{
                    &:hover{
                        background: map-get($social, facebook );
                    }
                }
                .instagram{
                    &:hover{
                        background: map-get($social, instagram );
                    }
                }
                .linkedin{
                    &:hover{
                        background: map-get($social, linkedin );
                    }
                }
            }
        }
    } 
}

