/* Header */

#Inicio{
    background-color: nth($colores, 6 );
    video{
        opacity: 60%;
        margin:0;
        height: 100%;
        width: 100%;
    } /* Video dynamis de portada */
    .navbar{
        box-shadow: 0 0 10rem 2rem ;
        .container-fluid{
            .navbar-brand {
                .logo {
                    width: 20rem;
                }
                &:hover{
                    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }
            }
            .navbar-nav{
                    .nav-item{
                        padding: 0;
                        padding-right: 10rem;
                        .dropdown-menu{
                            margin: 0 5rem;
                            -webkit-animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                            animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        }
                    }
            }
        }
    }
} 
/* Fin Header */