.main {
    .section-uno{
        background-image: url("https://i.ibb.co/GdmL3jz/Preview-4-Reis-20180518.png");
    }
    .mobile {
        display: none;
    }

    .gradient{
        height: 40rem;
        background: map-get($inter-section, gradiente-black-white);
    }

    .section-carousel{
        display: flex;
        align-items: center;
        margin: $margin;
        .carousel{
            background-color: nth($colores, 4 );
            @extend %border-r; 
        }
    }


}