.main {
    .section-uno{
        background-image: url("https://i.ibb.co/GdmL3jz/Preview-4-Reis-20180518.png");
    }
    .mobile {
        display: none;
    }   
    .section-carousel{
        display: flex;
        align-items: center;
        .carousel{
            background-color: nth($colores, 1 );
            margin-bottom: $margin-dos;
            img{
                height: 100vh;
            }
        }
    }
    .premios{
        margin-bottom:  $margin*2 0;
        .titulo{
            margin: $margin;
            .h2{
                font-family: nth($fonts, 3 );
                font-size: $h2*2;
                @include text-shadow(nth($colores, 4));
            }
        }
        .contenedor{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: $margin;
            .distinciones{
                background-color: nth($colores, 1 );
                margin: 2rem;
                border-radius: 5rem;
                @include shadow(nth($colores, 4));
                width: 40rem;
                transition: 0.2s;
                &:hover{
                    transform: translateY(-3px) scale(1.1);
                    box-shadow: 0 0 2rem 0 nth($colores, 7 );
                }
                .image{
                    width: 25rem;
                }
                .texto{
                    .h2{
                        font-family: nth($fonts, 3 );
                        margin-bottom: 2rem;
                    }
                    .p{
                        margin: 2rem;
                        text-align: left;
                        color: nth($colores, 5 );
                    }
                }
            }
        }
    }
}