.main {


    .section-uno{
        display: flex;
        justify-content: center;
        margin: $margin;

        .carousel{
            background-color: nth($colores, 4 );
            @extend %border-r;
        }
    }

    .mobile {
        display: none;
    }


}