@media only screen and (max-width: 676px) {
    /*MOBILE*/
    .body{
        h2{
            font-size: $size-mobile*2.5;
        }
        
        h3 {
            font-size: $size-mobile*1.8;
        }
        
        h4 {
            font-size: $size-mobile*1.3;
        }
        
        p{
            font-size: $size-mobile*1.7;
        }
        
        .section-uno {
            padding: 0;
            height: 20rem;
            .container{
                .h1{
                    transition: none;
                    filter: none;
                    opacity: 100%;
                    font-size: $size-mobile*3;
                    &:nth-child(1){
                        color: nth($colores, 1 );
                    }
                }
            }
        }

        #Inicio {
            .navbar{
                position: relative;
            }
        }
        
        .main{
            #Servicios-index{
                display: none;
            }
            .mobile {
                display: flex;
                flex-direction: column;
                .titular {
                    height: 10rem;
                    .titulo{
                        @include text-shadow(nth($colores, 1));
                        font-family: nth($fonts, 3 );
                        text-transform: uppercase;
                        margin-left: 0px;
                        font-size: $size-mobile*3;
                        color: nth($colores, 6 );
                    }
                }
                
                .articulo-mobile {    
                    margin-bottom: $margin-dos;   
                    .img {
                        width: 100%;
                    }
                    h2, p {
                        color: nth($colores, 4 );
                    }    
                }       
            }
            .section-carousel{
                margin-top: $margin-dos;
                .carousel{
                    img{
                        height: auto;
                    }
                }
            }
        }
        
        

        #Servicios {
            margin: 0;
            padding: 0;
            .contenedor{
                .contenido {
                    margin: $size-mobile*3 0px;               
                    .articulo{
                        border-radius: 0px;
                        padding: 0;
                        margin: 0.5rem;
                        margin-bottom: $margin-dos;
                        text-align: left;
                        .h2{
                            text-align: center;
                            margin: $size-mobile*3;
                        }
                        .video{
                            height: 30rem;
                            margin-top: $size-mobile*2;
                        }
                        .image-uno{
                            margin-top: $size-mobile*2;
                        }
                        .image-dos{
                            margin-bottom: $size-mobile*2;
                        }
                    }
                }
            }
        }              
        #portfolio {
            #portfolio-galeria-imagenes {
                .titular{
                    animation: none;
                }
                .portfolio-galeria{
                    .imagenes{
                        margin: 2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center; 
                        border-radius: 0;
                        .grid-image{
                            transform: none;
                            .image{
                                border: none;
                                border-radius: 0px;
                            }
                        }
                    }
                }
            }
            #portfolio-galeria-videos{
                    .videos  {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: $margin-dos;
                        iframe{
                            margin: 1rem;
                            width: 100%;
                            height: 30rem;
                        }
                    }    
                }  
        }
        
        #sobre-nosotros {
            .articulo{
                border: none;
                border-radius: none;
                box-shadow: none;
                margin: 0px;
                padding: 0;
                text-align: left;
                .h2{
                    margin: $margin-dos 0px;
                }

            }
            #founder{
                padding: 1rem;
                .articulo{
                    background-color: nth($colores , 1 );
                    border-radius: 1rem;
                    box-shadow: none;
                    padding: 1rem;
                    margin: 0px;
                    .h2, .h3{
                        text-align: center;
                    }
                    .h2{
                        margin-top: 1rem;
                        font-size: $size-mobile*3;
                    }
                }
            }
        }        
        #Contacto{
            #info-contacto-general {
                .info-contacto {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 1rem;  
                    .info{
                        margin: $size-mobile*3 0;
                        height: 30rem;
                    }    
                }
            }
            #mensaje{
                .formulario{
                    margin: $size-mobile;
                    margin-bottom: $size-mobile*3;
                    .h2{
                        margin: $size-mobile*3;
                    }
                }
            }                
    } 
        #Footer {
        /* FOOTER */
            flex-direction: column;
            align-items: center;
            height: 40rem;
            .back-home {
                margin-left: 0;
            }
        }    
    }
}