/* Portfolio */

#portfolio {
    .section-uno{
        background-image: url("https://i.ibb.co/DV732SZ/5.png");
    }
    .titular-dos {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 11rem;
        background-color: nth($colores, 1 );
        h2{
            color: nth($colores, 5 ) ;
            font-family: nth($fonts, 3 );
            margin: 0 10rem 2rem 0;
        }
    }
    #portfolio-galeria-imagenes{
        .portfolio-galeria {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: $margin;
            .imagenes {
                /* GRID CON SCALE*/
                margin: 10rem;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-auto-rows: 30rem;
                gap: 3rem 3rem;      
                div{
                    transition: all 0.5s ease;
                    &:hover{
                        @include prefijos(scale(1.1));
                    }
                }
                .grid-image{       
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        @extend %border-r;
                    }
                    &:nth-child(3) {
                        grid-row: span 3;
                    }    
                    &:nth-child(7){
                        grid-row: span 2;
                    }
                }          
            }
        }
    }
    #portfolio-galeria-videos{
        .videos {
            display: flex;
            justify-content: center;
            iframe{
                margin: 2rem;
            }
        }
    }
}





