
#Servicios{
    .contenedor{
        .contenido {
            margin: $margin;
            .articulo {
                @extend %articulo;
                @extend %border-r;
                @include shadow(nth($colores, 4));
                h2 {
                    margin: $margin-dos;
                }
                
                h2, p {
                    color: nth($colores, 4 );
                    background-color: nth($colores, 1 );
                    padding: 0.5rem;
                }
            }
        }
    
    }
}

