.main-servicios{
    .section-uno{
        background-image: url("https://i.ibb.co/t2jkV5C/Final-Casa-F-1-150519.png");
    }
    #Servicios{
        .contenedor{
            .contenido {
                margin: $margin;
                .articulo {
                    align-items: center;
                    background-color: nth($colores, 4 );
                    margin-bottom: $margin*2;
                    @extend %border-r;
                    @include shadow(nth($colores, 4));
                    .image, .video{
                        @extend %border-r;
                    }
                    .h2 {
                        margin: $margin-dos;
                    }
                    .p{
                        margin: 2rem;
                    }
                    
                    .h2, .p {
                        color: nth($colores, 1 );
                        padding: 0.5rem;
                    }
                }
            }
        
        }
    }
}

