@media only screen and (min-width:677px) and (max-width:1440px) {
    /*TABLET*/
    .body{
        h2{
            font-size: 3rem;
        }
        
        h3 {
            font-size: 1.75rem;
        }
        
        h4 {
            font-size: 0.9rem;
        }
        .section-uno {
            .container{
                .h1{
                    transition: none;
                    filter: none;
                    opacity: 100%;
                    font-size: $h2*2;
                    &:nth-child(1){
                        color: nth($colores, 1 );
                    }
                }
            }
        }      
        .main{
            #Servicios-index {
                margin: 0;
                padding: 0;
                .servicios-articulos{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                    .articulo{
                        width: 85vw;
                        height: 50rem;
                        margin: $margin $margin-dos;
                        .h2{
                            font-weight: bold;
                        }
                    }
                }
            }      
        }  
        #portfolio{
            #portfolio-galeria-imagenes{
                .portfolio-galeria{
                    .imagenes {
                        margin: 10rem 5rem;
                        grid-template-columns: repeat(2,1fr);
                        grid-auto-rows: 30rem;
                    }
                }
            }
            #portfolio-galeria-videos{
                .videos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    iframe {
                        width: 100%;
                    }
                }          
            }       
        }       
        #Contacto{
            #info-contacto-general{
                .info-contacto {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .info{
                    transform: none;    
                }
            }    
        }    
        #Footer {
            height: 35rem;
            flex-direction: column;      
        }        
    }
} 