%articulo {
    background-color: nth($colores, 1 );
    padding: $margin-dos;
    margin: $margin-dos;
    margin-bottom: $margin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

%grid-articulo {
    display: grid;
                margin: 20rem 20rem $margin-dos;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 30rem);
                grid-template-areas:"modelado modelado renderizado renderizado"
                                    "modelado modelado renderizado renderizado"
                                    "produccion produccion realidad realidad"
                                    "produccion produccion realidad realidad";
}

%titular {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40rem; 
}

%border-r {
    border: 0.2rem solid nth($colores, 4 );
    border-radius: 5rem;
}

%background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

%d-flex{
    display: flex;
    justify-content: center;
}

%d-flex-dos{
    display: flex;
    align-items: center;
}

%d-flex-tres{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

%distinciones{
    background-color: nth($colores, 1 );
    margin: 2rem;
    width: 40rem;
    transition: 0.2s;
}

%distinciones-h2{
    font-size: $h3;
    font-family: nth($fonts, 3 );
    margin-bottom: 2rem;
}

%distinciones-p{
    font-size: $p;
    margin: 2rem;
    text-align: left;
    color: nth($colores, 5 );
}


