@mixin prefijos($propiedad) {
    -webkit-transform: $propiedad;
    -o-transform: $propiedad;
    -moz-transform: $propiedad;
    transform: $propiedad;
}

@mixin shadow($color){
    box-shadow: 0 0 2rem $color;
}

@mixin text-shadow($color){
    text-shadow: 0 0 2rem $color;
}